  <%- include("partials/header"); -%>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <form class="modal-content" id="img01" method="post">
    <div class="mb-3">
      <label for="floatingInput">Name</label>
      <input type="text" class="form-control" id="floatingInput" name="lightNamei">
    </div>
    <div class="mb-3">
      <label for="floatingInput">Brand</label>
      <input type="text" class="form-control" id="floatingInput" name="lightBrandi">
    </div>
    <div class="mb-3">
      <label for="floatingInput">Current Amount</label>
      <input type="text" class="form-control" id="floatingInput" name="lightCurrentAmounti">
    </div>
    <div class="mb-3">
      <label for="floatingInput">Total Amount</label>
      <input type="text" class="form-control" id="floatingInput" name="lightTotalAmounti">
    </div>
    <div class="mb-3">
      <label for="floatingInput">Storage</label>
      <input type="text" class="form-control" id="floatingInput" name="lightStoragei">
    </div>
    <div class="mb-3">
      <label for="floatingInput">Note</label>
      <input type="text" class="form-control" id="floatingInput" name="lightNotei">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


  <div class="table">
    <h1>Light</h1>
    <table>
      <thead>
        <tr>
          <th><a href="#">Name</a></th>
          <th><a href="#">Brand</a></th>
          <th><a href="#">Current Amount</a></th>
          <th><a href="#">Total Amount</a></th>
          <th><a href="#">Storage</a></th>
          <th><a href="#">Note</a></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<Light.length; i++){ %>
        <tr>
          <td><%= Light[i].name %></td>
          <td><%= Light[i].brand %></td>
          <td><%= Light[i].currentAmount %></td>
          <td><%= Light[i].totalAmount %></td>
          <td><%= Light[i].location %></td>
          <td><%= Light[i].note %>

          <td>
            <form action="/deleteLight" method="post">
              <input value="<%=Light[i]._id%>" name="targetId" type="hidden" />
              <button type="submit" name="button">Delete</button>
            </form>

            <button type="button" class="editbutton" name="<%=Light[i]._id%>" onclick="block1(<%= i %>)" value="<%= i %>">Edit</button>

            <div id="myModal1" title="<%=Light[i]._id%>" class="mm">
              <span class="close1">&times;</span>
              <form action="/editLight" class="modal-content" method="post">
                <input value="<%=Light[i]._id%>" name="targetId" type="hidden" />
                <div class="mb-3">
                  <label for="floatingInput">Name</label>
                  <input type="text" class="form-control" id="floatingInput" name="lightNameie" value="<%= Light[i].name %>">
                </div>
                <div class="mb-3">
                  <label for="floatingInput">Brand</label>
                  <input type="text" class="form-control" id="floatingInput" name="lightBrandie" value="<%= Light[i].brand %>">
                </div>
                <div class="mb-3">
                  <label for="floatingInput">Current Amount</label>
                  <input type="text" class="form-control" id="floatingInput" name="lightCurrentAmountie" value="<%= Light[i].currentAmount %>">
                </div>
                <div class="mb-3">
                  <label for="floatingInput">Total Amount</label>
                  <input type="text" class="form-control" id="floatingInput" name="lightTotalAmountie" value="<%= Light[i].totalAmount %>">
                </div>
                <div class="mb-3">
                  <label for="floatingInput">Storage</label>
                  <input type="text" class="form-control" id="floatingInput" name="lightStorageie" value="<%= Light[i].location %>">
                </div>
                <div class="mb-3">
                  <label for="floatingInput">Note</label>
                  <input type="text" class="form-control" id="floatingInput" name="lightNoteie" value="<%= Light[i].note %>">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </td>
  </div>
  </td>
  </tr>
  <% } %>
      </tbody>
    </table>
  </div>
  <%- include("partials/footer"); -%>
